{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="leaderboard">
            <h2>Leaderboard</h2>
            
            <!-- <p>Personal Rank: {{ ranking }}</p> -->
            <table id="leaderboard-table">
                <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Stars</td>
                    </tr>
                </thead>
                {% for user in users %}
                    <tr class="{% if user.name == name %}chosen-row{% endif %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.starsReceived }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>⋮</td>
                        <td>⋮</td>
                        <td>⋮</td>
                    </tr>
                    <tr class="chosen-row">
                        <td>{{ ranking }}</td>
                        <td>{{ name }}</td>
                        <td>{{ starsReceived }}</td>
                    </tr>
            </table>
        </div>

        <div class="prize">
            <h3>This week's prize </h3>
            <h2>{{ currentPrize }} </h2>
        </div>

        <div class="kudos">
            <div id="sent"><h2>{{ kudosSent }}</h2> sent</div>
            <div id="received"><h2>{{ kudosReceived }}</h2> received</div>
            <div id="stars"><h2>{{ starsReceived }}</h2> stars</div>
        </div>
    </div>


    
{% endblock content %}