{% extends 'base.html' %}

{% block content %}

    <h1>Welcome to Kudos Corner, {{ name }}</h1>

    <div id="personal-stats">
        <p>Kudos sent: {{ kudos_sent }}</p>
        <p>Kudos received: {{ kudos_received }}</p>
    </div>

    <div id="ranking-visuals">
        <p>Personal Rank: </p>

        <table>
            <p>Leaderboard goes here:</p>
        </table>
    </div>

    <div id="prize">
        <p>This week's prize is {{ current_prize }} </p>
    </div>

    
{% endblock content %}