{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
    <div id="identity">
        <h1>{{ name }}</h1>
        <h3>{{ user.organisation.name }}</h3>
    </div> 

    <div id="stats">
        <h2>Your Stats</h2>
        <p>Current ranking: {{ rank }}</p>
        <p>Prizes won: {{ prizeCount }}</p>
    </div>

    <div id="rate-kudos">
        <h2>Kudos Inbox {% if kudos %} - {{ kudos|length }} unread {% endif %}</h2>
            {% for kudo in kudos %}
                <div class="message">
                    <p>{{kudo.message}}</p>
                    <select class="form-control rating" name="rating" id="rating-{{kudo.id}}">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    {% load static %} <img width="30px" src="{% static 'media/star-icon.png' %}" alt="home" />
                    <button type="submit" class="btn btn-primary submit">Rate</button>
                </div>
            {% endfor %}
    </div>
</div>
    
    <div id="send-kudos">
        <h2>Send Kudos</h2>
        <form action="#" method="POST">
            <label for="recipient">Recipient</label>
            <select name="recepient" id="recepient">
                {% for user in users %}
                    <option value={{user.name}}>{{user.name}}</option>
                {% endfor %}
            </select>
            <label for="message">Message</label>
            <input type="text" name="message" id="message">
            <button type="submit">Send</button>
        </form>
    </div>

</div>

    
{% endblock content %}