{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
    <div id="stats">
        <h2>{{ name }}'s Stats</h2>
        <h4>Current ranking: {{ rank }}</h4>
        <h4>Prizes won: {{ prizeCount }}</h4>
    </div> 

    <div id="rate-kudos">
        <h2>Kudos Inbox {% if kudos %} - {{ kudos|length }} unread {% endif %}</h2>
            <div class="inbox">
            {% for kudo in kudos %}
                <div class="message">
                    <div class="message-entry">> {{kudo.message}}</div>
                    <form action ="" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="rateKudos" class="btn btn-primary submit">Rate</button>
                        {% for field in rateKudosForm %}
                            {% if field.is_hidden %}
                                <input type="number" hidden="true" name="id" required="" id="id_id" value={{kudo.id}}>
                            {% else %}
                                {{ rateKudosForm.rating }}
                            {% endif %}
                        {% endfor %}
                        {% load static %} <img width="30px" src="{% static 'media/star-icon.png' %}" alt="home" />
                    </form>
                </div>
            {% endfor %}
            </div>
    </div>
    
    <div id="send-kudos">
        <h2 style="text-align: center;">Send Kudos</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ sendKudosForm.as_table}}
            </table>
            <button type="submit" name="sendKudos" class="btn btn-primary submit send">Send</button>
        </form>
    </div>

</div>

    
{% endblock content %}