{% extends 'base.html' %}

{% block content %}
    
    <div id="login-form">
        <form action="#" id="login" method="GET">
            <label for="username">Username</label>
            <input type="text" class="form-control" value="" id="username">
            <label for="password">Password</label>
            <input type="password" class="form-control" value="" id="password">
        </form>
        <button class="btn btn-primary submit-login">submit</button>
    </div>
        
{% endblock content %}