{% extends 'base.html' %}

{% block content %}

    <div id="organization-identity">
        <h1>Welcome to your profile, {{ name }}</h1>
    </div>

    <div id="update-prize">
        <p>Current prize: {{ prize }}</p>
    
        <form action="/profile/" method="POST">
            {% csrf_token %}
            <!-- {{form}} -->
            <table>
            {{ form.as_table }}
            </table>
            <button type="submit">Update</button>
        </form>

    </div>
    
{% endblock content %}