{% extends 'base.html' %}

{% block content %}

    <h1>Welcome to Kudos Corner, {{ user.getName() }}</h1>

    <div id="personal-stats">
        <p>Kudos sent: {{ user.KudosSent }}</p>
        <p>Kudos received: {{ user.KudosReceived }}</p>
    </div>

    <div id="ranking-visuals">
        <p>Personal Rank: </p>

        <table>
            <p>Leaderboard goes here:</p>
        </table>
    </div>

    <div id="prize">
        <p>This weeks prize is {{ prize.getDescription() }} </p>
    </div>


    
{% endblock content %}